body {
  /* background-color: #eccece;
  color: #002f35; */
}

.myResearch {
  /* color: #dfb5b5; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 7rem 10rem; */
}
/* .img__portfolio {
  padding: 2rem 3rem 2rem 3rem;
}

.img__portfolio img {
  max-width: 28rem;
  border: solid 2px #6d6b66;
  border-radius: 8px;
  padding: 1rem;
} */
.myResearch h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: 5rem 0 1rem 0;
  align-items: center;
}

.myResearch p {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 2.2rem;
  padding: 0rem 6rem 0 6rem;
}

.myResearch :nth-child(5) {
  padding-bottom: 6rem;
}
