body {
  /* background-color: #00262b;
  color: #002019f5; */
  color: rgb(17, 36, 21);
}
.card-body {
  /* background-color: #e09c9c; */
  padding-bottom: 3rem;
  font-family: "Raleway", sans-serif;
}
.card-title {
  font-size: 1.7rem;
  font-weight: 500;
}

.card-text {
  font-size: 1.2rem;
  font-weight: 300;
}

.section-title h2 {
  font-size: 4rem;
  font-weight: 600;
  /* color: #e0e7cb; */
}

.section-title span {
  font-size: 2rem;
  /* color: #032c23f5; */
}

#moreOne {
  display: none;
}

#moreTwo {
  display: none;
}

#moreThree {
  display: none;
}

#moreFour {
  display: none;
}
#moreFive {
  display: none;
}

#moreSix {
  display: none;
}
