#section__intro {
  /* color: #dfb5b5; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  /* padding: 7rem 10rem; */
}
.img__portfolio {
  /* flex: 2; */
  /* padding: 2rem 3rem 2rem 3rem; */
}
/* .intro {
  flex: 3;
  padding: 3rem 3rem 3rem 3rem;
} */
/* .img__portfolio img {
  max-width: 32rem;
  border: solid 2px #6d6b66;
  border-radius: 8px;
  padding: 1rem;
} */
#section__intro h1 {
  font-size: 4rem;
  font-weight: 300;
  /* margin: 2rem 0 1rem 0; */
}

#section__intro p {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  line-height: 2.2rem;
  /* padding: 1rem 14rem 2rem 14rem; */
}

.socialmedia a {
  font-size: 1.5rem;
  color: #681313;
  padding: 0 0.2rem;
}
