.img__portfolio img {
  max-width: 32rem;
  /* border: solid 2px #6d6b66; */
  /* border-radius: 8px; */
  padding: 1rem;
}
.top{
  background-image: url('../images/setar.jpg');
  min-height: 600px;
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 0;
}
#section__music h1 {
  font-size: 4rem;
  font-weight: 400;
  margin: 2rem 0 1rem 0;
}

#section__music p {
  font-size: 1.3rem;
  font-weight: 400;
  text-align: center;
  line-height: 2.2rem;
  padding: 1rem 14rem 2rem 14rem;
}

/* .socialmedia a {
  font-size: 1.5rem;
  color: #813b3b;
  padding: 0 0.2rem;
} */

.img__music {
  margin-bottom: 4rem;
}
.myNav{
  background-color: rgba(128, 128, 128, 0.804);
  height: 100px;
  
}
.text-color{
  color: white;

}
.text-center{
  margin-bottom: 50px;
}
@media only screen and (max-width: 1100px){
  .top{
    background-image: url('../images/setar.jpg');
    height: 40vh;
  background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin-bottom: 0;
  }

}

/* @media only screen and (max-width: 600px){
  .myNav{
    background-color: rgba(128, 128, 128, 0.804);
    height: 300px;
    
  }

} */
